<h1>Questions#ask</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

<form action= '<%= answer_path %>'>
  <label for="input_question">Ask your coach anything:</label>
  <input id="input_question" type="text" name="input_question">
  <input type="submit" value="Ask!">
</form>
